{% extends "Article/layout/basic.html" %}

{% block title %}Добавление статьи{% endblock %}

{% block content %}

<br>
<div class="row justify-content-center"">
	<div class="col-md-6">
		<div class="card card-body">

			<div class="row justify-content-between">
				<div class="col-md-auto"">
					<h5>Добавление статьи</h5>
				</div>
				<div class="col-md-auto"">
					<a class="btn btn-danger" href="{% url 'start-page-switch' %}" role="button">Назад</a>
				</div>
			</div>

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form-group">
					<label for="id_title">Название:</label>
					<input class="form-control" type="text" name="title" maxlength="50" required id="id_title">
				</div>

				<div class="form-group">
					<label for="id_content">Описание:</label>
					<textarea class="form-control" name="content" cols="40" rows="10" id="id_content"></textarea>
				</div>
				
	
				<div class="form-group">
					<label for="id_document">Документ:</label> 
					<input class="form-control-file" type="file" name="document" required id="id_document">
				</div>

				<input class="btn btn-primary" type="submit" value="Добавить">
			</form>
        
		</div>
	</div>
</div>

{% endblock %}