<div class="col-md-6">
    <div class="card card-body">
        <h5>Статистика</h5>
        <hr>
        
        <div class="row justify-content-around">
            <div class="col-md-4">
            <div class="card card-body">
                <h5>Проверенные статьи <br></h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{articles_count.A}}</h1>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-body">
                <h5>Требуют исправления</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{articles_count.B}}</h1>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-body">
                <h5>Ожидают проверки</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{articles_count.C}}</h1>
            </div>
        </div>
        </div>
        

    </div>
</div>

